[Unit]
Description=Kivy App
After=multi-user.target

[Service]
User=dash  # Change this if needed
WorkingDirectory=/home/dash/dash
ExecStart=/usr/bin/python3 /home/dash/dash/test_main.py
Environment="DISPLAY="
Environment="KIVY_GL_BACKEND=gl"
Environment="KIVY_WINDOW=sdl2"
Environment="SDL_VIDEODRIVER=kmsdrm"
Restart=on-failure
StandardOutput=journal
StandardError=journal
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target